RewriteEngine On

# Redirect to public folder if not already there
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
